html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Verdana", serif;
    font-size: 12px;
    margin: 35mm 6mm 10mm 5mm;
}

div {
	padding: 0px;
	font-size: small;
}

hr {
    page-break-after: always;
    border: 0;
    margin: 0;
    padding: 0;
}

header { 
    position: fixed;
    top: 10mm;
    margin-left: 5mm;
    margin-right: 6mm;
    
} 
    
    #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 150px; background-color: lightblue; } 
    #footer .page:after { content: counter(page, upper-roman); } 

table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
}

table, td, th {
    border: 1px solid black;
}

td {
    text-align: center
}

th {
    background-color: #D3D3D3;
    text-align: center;    
}

img {    
    width: 100px;
    height: 50px;
}

.bordecompleto {
	border: 0.1px solid black;
}

.bordeizquierdo {
	border-left: 0.1px solid black;
}

.bordesuperior {
	border-top: 0.1px solid black;
}

.bordederecho {
	border-right: 0.1px solid black;
}

.bordeinferior {
	border-bottom: 0.1px solid black;
}

.bordelaterales {
	border-left: 0.1px solid black;
	border-right: : 0.1px solid black;
}

.negritagris {
    background-color: #D3D3D3;
}

.negrita {
    font-weight: bold;
}

.titulotabla {
    background-color: #D3D3D3;
    font-weight: bold;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align:center;
}

.textleft {
    text-align: left;
}

.textmayusc {
    text-transform: uppercase;
    font-size: 10px;
}
/* css para probar */

/*body{
font:12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
background-color:#BECEDC;
color:#000;
}

a h1{
font-size:35px; 
color:#FFF;
}

h2{
color:#FC0;
font-size:15px; 
}

table{
width:100%;
height:auto;
margin:10px 0 10px 0;
border-collapse:collapse;
text-align:center;
background-color:#365985;
color:#FFF;
}

table td,th{
border:1px solid black;
}

table th{
color:#FC0; 
}*/